/** @format */

.hd {
  border: 1px solid red;
}

.hd > * {
  border: 1px solid lightgreen;
}

nav {
  display: none;
}

.hd > div {
  /* font-family: ; */
}

.hd h1,
.hd > div,
.hd > a {
  position: fixed;
}

.hd h1 {
  left: 110px;
  top: 30px;
}

.hd h1 img {
  width: 116px;
  height: 44px;
}

.hd .nav_open {
  top: 102px;
}

.hd .status {
  padding: 14px 0 10px 0;
  font-size: 12px;
  right: 40px;
}

.hd .status > a {
  padding: 4px 14px;
}

.hd .search {
  top: 44px;
  right: 40px;
}
.hd .search img {
  padding: 8px;
  width: 38px;
  height: 41px;
  margin-right: 14px;
}

@media (max-width: 1440px) {
  .hd h1 {
    left: 40px;
  }
}
